@import "../../../sass/variables.module";

.container {
   width: 500px;
   height: 100vh;
   overflow-y: auto;
   background-color: $PrimaryColor;
   padding: 10px 0px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   @media screen and (max-width: 900px) {
      width: 100%;
      position: absolute;
   }
   .header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 5px;
      button {
         padding: 5px;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: transparent;
         border: none;
         cursor: pointer;
         svg {
            stroke: #fff;
         }
      }
   }
   &::-webkit-scrollbar {
      width: 5px;
   }
   &::-webkit-scrollbar-thumb {
      background-color: #ffff;
   }
   .lessonCard {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      button {
         width: 40px;
         height: 40px;
         border-radius: 100px;
         background-color: transparent;
         border: none;
         outline: none;
         cursor: pointer;
         svg {
            stroke: #fff;
         }
      }
      .titleCardCOntainer {
         width: 100%;
         display: flex;
         align-items: center;
      }
      .dropdown {
         width: 60px;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      h2 {
         font-size: 16px;
         font-family: $ParentFont;
         font-weight: 400;
         color: #fff;
      }
   }
}
