@import "../../../sass/variables.module";

.container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   h2 {
      font-family: $ParentFont;
      font-weight: 500;
      font-size: 22px;
   }
   button {
      width: 42px;
      height: 42px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      cursor: pointer;
      background-color: transparent;
      svg {
         stroke-width: 1.5px;
      }
      &:hover {
         background-color: $PrimaryColor;
         svg {
            stroke: #fff;
         }
      }
   }
}
