.error {
   width: auto;
   background-color: rgb(223, 124, 144);
   padding: 15px 10px;
   border-radius: 4px;
   display: flex;
   align-items: center;
   position: absolute;
   bottom: 100px;
   right: 10px;
   gap: 5px;
   span {
      color: #fff;
      font-size: 1rem;
   }
   svg {
      stroke: #fff;
   }
}
