<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <table style="width: 50%;">
      <tbody>
        <tr style="height: 40px">
          <td style="width: 100%; font-size: 20px; font-family:'Roboto'; font-weight: 400;">Dear, Joshua Ramin</td>
        </tr>
        <tr style="height: 80px;">
          <td style="width: 100%; font-size: 20px; font-family:'Roboto'; font-weight: 400;">
            Thank you for signing up for an account with [School Academy]! To ensure the security of your account and activate it, we need to verify your email address.
          </td>
        </tr>
        <tr style="height: 80px;">
          <td style="width: 100%; font-size: 20px; font-family:'Roboto'; font-weight: 400;">
            Please click on the link below to verify your email:
          </td>
        </tr>
        <tr style="height: 80px;">
          <td>
            <a href=`/auth/verification/${id}` style="width: 100%; height: 50px; padding: 20px; background-color: #6f2da8; color: #fff; text-decoration: none; border-radius: 5px; font-weight: 500; font-family: Roboto;">Verification Link</a>
          </td>
        </tr>
        <tr style="height: 80px;">
          <td style="width: 100%; font-size: 20px; font-family:'Roboto'; font-weight: 400;">
            Once you click the link, your email address will be verified, and your account activation process will be complete. If you encounter any issues with the verification process or have any questions, feel free to reach out to us at [Your Contact Email].
          </td>
        </tr>
        <tr style="height: 80px;">
          <td style="width: 100%; font-size: 20px; font-family:'Roboto'; font-weight: 400;">
            Thank you for choosing [School Academy]! We're excited to have you join our community.
          </td>
        </tr>
        <tr style="height: 25px;">
          <td style="width: 100%; font-size: 20px; font-family:'Roboto'; font-weight: 400;">Best regards,</td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 100%; font-size: 20px; font-family:'Roboto'; font-weight: 400;">Joshua Ramin</td>
          </tr>
      </tbody>
    </table>
  </body>
</html>
