@import "../../sass/variables.module";

.container {
   width: 100%;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #ccc;
   padding: 0 20px;
   h2 {
      font-family: $ParentFont;
      font-weight: $PFWeigth;
   }
   .auth {
      display: flex;
      gap: 10px;
      a {
         padding: 13px 30px;
         border-radius: 3px;
         border: none;
         cursor: pointer;
         text-decoration: none;
         span {
            font-weight: 600;
            font-size: 1rem;
         }
         &:nth-child(1) {
            background-color: #eee;
            color: #000;
            &:hover {
               background-color: blue;
               color: #fff;
            }
         }
         &:nth-child(2) {
            background-color: blue;
            color: #fff;
         }
      }
   }
}
