@import "../../../sass/variables.module";

.container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  .toggleLessons {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .body {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .language {
      width: 100%;
      span {
        font-size: 16px;
        font-family: $ChildFont;
      }
    }

    .lessonContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
